.results {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #EDD58E;
	color: #2C2738;
	width: 100%;
	max-width: 900px;
	padding: 30px 20px 20px;
	margin: 0 -30px 10px;
	box-sizing: border-box;
}

.results__title {
	color: #2C2738;
	margin: 20px;
	font-weight: bold;
	font-size: 20px;
}

.results__list {
	font-size: 16px;
	list-style: none;
	padding: 0;
	width: 70%;
	max-width: 500px;
}

.results__list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	
}

.results__name {
	margin: 0;
	font-weight: normal;

}

.results__value {
	margin: 0;
	font-weight: bold;
}

